<div class="col-md-3 col-sm-4">
                    <div class="s-right-block clearfix">
                        <div class="right-banner">
                            <a href="#">
                                <%= image_tag("banner/banner-img-6.jpg",alt:"") %>
                                <span class="banner-details">Get 10% Off</span>
                            </a>
                        </div>
                        <div class="customer-choice"><!-- Choice Product-->
                            <h4 class="heading">Customer's Choice</h4>
                            <div class="choice-product clearfix">
                                <a href="#">
                                    <div class="choice-images">
                                        <%= image_tag("products/phone/accessories/products-img-7.jpg",alt:"") %>
                                    </div>
                                    <div class="choice-text">
                                        <h5>Product Name</h5>
                                        <span>$1500</span>
                                    </div>
                                </a>
                            </div>
                            <div class="choice-product clearfix">
                                <a href="#">
                                    <div class="choice-images">
                                        <%= image_tag("products/phone/accessories/products-img-7.jpg",alt:"") %>
                                    </div>
                                    <div class="choice-text">
                                        <h5>Product Name</h5>
                                        <span>$1500</span>
                                    </div>
                                </a>
                            </div>
                            <div class="choice-product clearfix">
                                <a href="#">
                                    <div class="choice-images">
                                        <%= image_tag("products/phone/accessories/products-img-7.jpg",alt:"") %>
                                    </div>
                                    <div class="choice-text">
                                        <h5>Product Name</h5>
                                        <span>$1500</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>